IMG#chemaxon-logo {
	margin: 15px 0px 10px 0px;
}
DIV#leftmenu-box {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 8;
	margin: 0px 0px 0px 0px;
	width: 163px;
}

DIV#leftmenu {
	background-color: #E4F1F1;
	padding: 10px 0px 10px 0px;
	margin: 5px 0px 0px 12px;
	width: 140px;
	overflow: hidden;
}

DIV#leftmenu-cont {
	margin: 0px 0px 5px 0px;
}

DIV#leftmenu-lenia {
	margin: 0px 0px 0px 30px;
	width: 83px;
	background-color: #A5D1D1;
}

a.leftmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #496A8B	;
	text-decoration: none;
	padding: 0px 3px 2px 15px;
	margin: 3px 0px 0px 15px;
	display: block;
	background-image: url(images/bg-menuitem03.gif);
	background-repeat: no-repeat;
	background-position: 5px 4px;
	background-color: #E4F1F1;
	white-space: nowrap;
}

a.leftmenu:hover {
	font-weight: bold;
	background-color: #ffffff;
}

.search {
	margin: 10px 0px 0px 20px;
	width: 110px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #033438;
	text-decoration: none;
	border: solid 1px #496A8B;
	height: 15px;
}

.search-button {
	margin: 5px 0px 10px 0px;
	width: 60px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #496A8B;
	text-decoration: none;
	border-left: solid 1px #ffffff;
	border-right: solid 1px #496A8B; 
	border-top: solid 1px #ffffff; 
	border-bottom: solid 1px #496A8B; 	
	background-color: #CBE4E4; 
	/* height: 15px; */	
	display: block;
}