[Desktop Entry]
Type=Application
Name=Metabolizer
Exec=/bin/sh "/scratch/cvbioinfo/software/Chemaxon/Metabolizer"
Icon=/scratch/cvbioinfo/software/Chemaxon/.install4j/Metabolizer.png
Categories=Application;
